; {{ ansible_managed }}

[program:{{ name }}]
command={{ command }}
redirect_stderr={{ redirect_stderr }}
autostart={{ autostart }}
autorestart={{ autorestart }}
user={{ user }}
numprocs={{ numprocs }}

{% if directory is defined %}directory={{ directory }}{% endif %}

{% if numprocs > 1 %}process_name=%(process_num)02d{% endif %}

{% if stopsignal is defined %}stopsignal={{ stopsignal }}{% endif %}

{% if env_vars|length > 0 %}
environment={% for name, value in env_vars.iteritems() %}{{ name }}="{{ value }}"{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
